/* Временные стили добавлять здесь */
.no_padding {
    padding: 0;
}

.addresses {
    border: 1px #64748B12 solid;
    border-radius: 8px;
    padding: 24px;
    width: 453px;
}

.list-element {
    align-items: flex-start;
    height: 266px;
}

.profile_text {
    color: #64748B;
}